body {
  font-family: Arial, sans-serif;
  text-align: center;
  background: #f2f2f2;
}

.hidden { display: none; }

#board {
  margin: 20px auto;
  display: grid;
  grid-template-columns: repeat(15, 30px);
  grid-template-rows: repeat(15, 30px);
}

.cell {
  border: 1px solid #999;
  background: white;
  position: relative;
}

.home.red { background: #ffcccc; }
.home.green { background: #ccffcc; }
.home.yellow { background: #fff2cc; }
.home.blue { background: #cce5ff; }

.path { background: #fff; }
.safe { background: #ddd; }

.token {
  width: 14px;
  height: 14px;
  border-radius: 50%;
  position: absolute;
  top: 8px;
  left: 8px;
}

.red { background: red; }
.green { background: green; }
.yellow { background: gold; }
.blue { background: blue; }
.purple { background: purple; }
.orange { background: orange; }

#dice {
  font-size: 40px;
  margin: 10px;
}
